################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/VC/.vs/TextFX
/VC/Release Unicode
/VC/Release Unicode x64
/VC/NppTextFX64.pdb
/VC/NppTextFX64.dll
/VC/NppTextFX.pdb
/VC/NppTextFX.dll
