/* THIS FILE WAS ORIGINALLY BUILT BY DEV-C++ */
#undef UNICODE
#undef _UNICODE
#define APSTUDIO_HIDDEN_SYMBOLS
#include <windows.h>  /* include for version info constants */
#include <prsht.h>
#include "enable.h"
#undef APSTUDIO_HIDDEN_SYMBOLS

#if ENABLE_FINDREPLACE
#include "poppad/poppad.rc"
#endif

1 VERSIONINFO
FILEVERSION 1,3,0,0
PRODUCTVERSION 1,3,0,0
FILETYPE VFT_DLL
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "CompanyName", "Chris Severance"
			 VALUE "FileVersion", "1.3"
			 VALUE "FileDescription", "TextFX plugin for Notepad++"
			 VALUE "InternalName", "NPPTextFX"
			 VALUE "LegalCopyright", "(C) 2005-2022 GNU GPL"
			 VALUE "LegalTrademarks", "http://www.gnu.org/copyleft/gpl.html"
			 VALUE "OriginalFilename", "NPPTextFX.DLL"
			 VALUE "ProductName", "NPPTextFX"
			 VALUE "ProductVersion", "1.3"
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0409, 1252
	 }
}

